<style type="text/css">



</style>


<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #333; width: 100%; height: 60px; position:absolute; z-index: 100;">
  <div class='container-fluid'>  
    <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
			<%#			<img src="/images/icons/logo-02.png" alt="IMG-LOGO" style="height: 45px; width: auto;" class ="center-block img-responsive"> %>
        </a> 
    </div>


  
  </div>
</nav>

